<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    	http://www.springframework.org/schema/aop 
    	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	<!-- -->
	<!-- PROPERTIES -->
	<!-- -->

	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> <list> <value>classpath:../applicationContext.properties</value> 
		</list> </property> </bean> -->
	<util:map id="qybhMap" map-class="java.util.HashMap" key-type="java.lang.Integer"
		value-type="java.lang.Integer">
		<entry key="5" value="1" />
		<entry key="6" value="2" />
		<entry key="7" value="3" />
		<entry key="8" value="301" />
		<entry key="9" value="4" />
		<entry key="10" value="5" />
		<entry key="11" value="6" />
	</util:map>
	<!-- -->
	<!-- INCLUDES -->
	<!-- -->
	<!-- -->
	<!-- PERFORMANCE -->
	<!-- -->

	<!-- -->
	<!-- CACHING -->
	<!-- -->

	<!-- -->
	<!-- DATABASE -->
	<!-- -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/my_test_db" />
	</bean>
	<bean id="dataSource15" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/yszk_db" />
	</bean>
	<bean id="dataSourcedl" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/dl_db" />
	</bean>
	<bean id="dataSourcetb" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/tb_db" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="localDB" />
	</bean>
	<bean id="entityManagerFactory15"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource15" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<!--<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> -->
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="15DB" />
	</bean>
	<bean id="entityManagerFactorydl"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcedl" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<!--<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> -->
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="dlDB" />
	</bean>
	<bean id="entityManagerFactorytb"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcetb" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" />
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" 
					/> -->
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="tbDB" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />


	<!-- -->
	<!-- TRANSACTIONS -->
	<!-- -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:annotation-driven transaction-manager="transactionManager15" />
	<tx:annotation-driven transaction-manager="transactionManagerdl" />
	<tx:annotation-driven transaction-manager="transactionManagertb" />

	<aop:aspectj-autoproxy />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager15" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory15" />
		<property name="dataSource" ref="dataSource15" />
	</bean>
	<bean id="transactionManagerdl" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorydl" />
		<property name="dataSource" ref="dataSourcedl" />
	</bean>
	<bean id="transactionManagertb" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorytb" />
		<property name="dataSource" ref="dataSourcetb" />
	</bean>


	<!-- -->
	<!-- DAO -->
	<!-- -->

	<bean id="bl15Dao" class="com.tbea.datatransfer.model.dao.yszk15.bl.BL15DaoImpl" />
	<bean id="xjlrbDao"
		class="com.tbea.datatransfer.model.dao.local.xjlrb.XJLRBDaoImpl" />
	<bean id="ydzbfdwDao"
		class="com.tbea.datatransfer.model.dao.local.ydzbfdw.YDZBFDWDaoImpl" />
	<bean id="zbhzDao" class="com.tbea.datatransfer.model.dao.local.zbhz.ZBHZDaoImpl" />
	<bean id="htxxLocalDao"
		class="com.tbea.datatransfer.model.dao.local.htxx.HTXXLocalDaoImpl" />
	<bean id="htxxDLDao" class="com.tbea.datatransfer.model.dao.zjdl.htxx.HTXXDLDaoImpl" />
	<bean id="htxxTBDao" class="com.tbea.datatransfer.model.dao.zjtb.htxx.HTXXTBDaoImpl" />
	<bean id="blLocalDao" class="com.tbea.datatransfer.model.dao.local.bl.BLLocalDaoImpl" />
	<bean id="blDLDao" class="com.tbea.datatransfer.model.dao.zjdl.bl.BLDLDaoImpl" />
	<bean id="blTBDao" class="com.tbea.datatransfer.model.dao.zjtb.bl.BLTBDaoImpl" />
	<bean id="yszktzLocalDao"
		class="com.tbea.datatransfer.model.dao.local.yszktz.YSZKTZLocalDaoImpl" />
	<bean id="yszktzDLDao"
		class="com.tbea.datatransfer.model.dao.zjdl.yszktz.YSZKTZDLDaoImpl" />
	<bean id="yszktzTBDao"
		class="com.tbea.datatransfer.model.dao.zjtb.yszktz.YSZKTZTBDaoImpl" />
	<bean id="mrhkLocalDao"
		class="com.tbea.datatransfer.model.dao.local.mrhk.MRHKLocalDaoImpl" />
	<bean id="mrhkDLDao" class="com.tbea.datatransfer.model.dao.zjdl.mrhk.MRHKDLDaoImpl" />
	<bean id="mrhkTBDao" class="com.tbea.datatransfer.model.dao.zjtb.mrhk.MRHKTBDaoImpl" />

	<!-- UTILS -->
	<!-- -->
	<!-- -->
	<!-- HELPERS -->
	<!-- -->

	<!-- -->
	<!-- RESTLET -->
	<!-- -->

	<!-- -->
	<!-- BUSINESS -->
	<!-- -->

	<bean id="xjlrbService"
		class="com.tbea.datatransfer.service.local.xjlrb.XJLRBServiceImpl"
		scope="prototype">
		<property name="xjlrbDao" ref="xjlrbDao" />
		<property name="bl15Dao" ref="bl15Dao" />
	</bean>
	<bean id="ydzbfdwService"
		class="com.tbea.datatransfer.service.local.ydzbfdw.YDZBFDWServiceImpl"
		scope="prototype">
		<property name="ydzbfdwDao" ref="ydzbfdwDao" />
		<property name="bl15Dao" ref="bl15Dao" />
		<property name="qybhMap" ref="qybhMap" />
	</bean>
	<bean id="zbhzService"
		class="com.tbea.datatransfer.service.local.zbhz.ZBHZServiceImpl"
		scope="prototype">
		<property name="zbhzDao" ref="zbhzDao" />
		<property name="bl15Dao" ref="bl15Dao" />
	</bean>
	<bean id="logService" class="com.tbea.datatransfer.service.local.log.LogServiceImpl"
		scope="prototype">
		<property name="ydzbfdwDao" ref="ydzbfdwDao" />
		<property name="bl15Dao" ref="bl15Dao" />
		<property name="qybhMap" ref="qybhMap" />
	</bean>
	<bean id="htxxTransferService"
		class="com.tbea.datatransfer.service.local.htxx.HTXXTransferServiceImpl"
		scope="prototype">
		<property name="htxxLocalDao" ref="htxxLocalDao" />
		<property name="htxxDLDao" ref="htxxDLDao" />
		<property name="htxxTBDao" ref="htxxTBDao" />
	</bean>
	<bean id="blTransferService"
		class="com.tbea.datatransfer.service.local.bl.BLTransferServiceImpl"
		scope="prototype">
		<property name="blLocalDao" ref="blLocalDao" />
		<property name="blDLDao" ref="blDLDao" />
		<property name="blTBDao" ref="blTBDao" />
	</bean>
	<bean id="yszktzTransferService"
		class="com.tbea.datatransfer.service.local.yszktz.YSZKTZTransferServiceImpl"
		scope="prototype">
		<property name="yszktzLocalDao" ref="yszktzLocalDao" />
		<property name="yszktzDLDao" ref="yszktzDLDao" />
		<property name="yszktzTBDao" ref="yszktzTBDao" />
	</bean>
	<bean id="mrhkTransferService"
		class="com.tbea.datatransfer.service.local.mrhk.MRHKTransferServiceImpl"
		scope="prototype">
		<property name="mrhkLocalDao" ref="mrhkLocalDao" />
		<property name="mrhkDLDao" ref="mrhkDLDao" />
		<property name="mrhkTBDao" ref="mrhkTBDao" />
	</bean>

	<!-- -->
	<!-- CLIENTS -->
	<!-- -->


	<!-- -->
	<!-- SPRING SECURITY -->
	<!-- -->

	<!-- -->
	<!-- SPRING SCHEDULE -->
	<!-- -->


	<task:scheduled-tasks scheduler="myScheduler">
		<!-- <task:scheduled ref="reminderMailService" method="sendReminderMail" 
			fixed-rate="5000"/> -->
		<task:scheduled ref="xjlrbService" method="importXJLRB"
			cron="0 0 4 * * *" />
		<task:scheduled ref="ydzbfdwService" method="importYDZBFDW"
			cron="0 20 4 * * *" />
		<task:scheduled ref="zbhzService" method="importZBHZ"
			cron="0 40 4 * * *" />

	</task:scheduled-tasks>

	<task:scheduler id="myScheduler" pool-size="10" />

</beans>
