<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    	http://www.springframework.org/schema/aop 
    	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	<!-- -->
	<!-- PROPERTIES -->
	<!-- -->

	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> <list> <value>classpath:../applicationContext.properties</value> 
		</list> </property> </bean> -->
	<util:map id="qybhMap" map-class="java.util.HashMap" key-type="java.lang.Integer"
		value-type="java.lang.Integer">
		<entry key="5" value="1" />
		<entry key="6" value="2" />
		<entry key="7" value="3" />
		<entry key="8" value="301" />
		<entry key="9" value="4" />
		<entry key="10" value="5" />
		<entry key="11" value="6" />
	</util:map>
	<util:map id="sbXMGSMap" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="java.lang.String">
		<entry key="沈变公司" value="01" />
		<entry key="变压器厂" value="0101" />
		<entry key="中特分公司" value="0103" />
		<entry key="康嘉互感器" value="0104" />
		<entry key="上开公司" value="0107" />
	</util:map>
	<!-- -->
	<!-- INCLUDES -->
	<!-- -->
	<!-- -->
	<!-- PERFORMANCE -->
	<!-- -->

	<!-- -->
	<!-- CACHING -->
	<!-- -->

	<!-- -->
	<!-- DATABASE -->
	<!-- -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/my_test_db" />
	</bean>
	<bean id="dataSource15" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/yszk_db" />
	</bean>
	<bean id="dataSourcedl" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/dl_db" />
	</bean>
	<bean id="dataSourcetb" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/tb_db" />
	</bean>
	<bean id="dataSourcetb2" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/tb_db2" />
	</bean>
	<bean id="dataSourcesb" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/sb_db" />
	</bean>
	<bean id="dataSourcell" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/ll_db" />
	</bean>
	<bean id="dataSourcexb" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/xb_db" />
	</bean>
	<bean id="dataSourcexl" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/xl_db" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="localDB" />
	</bean>
	<bean id="entityManagerFactory15"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource15" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<!--<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> -->
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="15DB" />
	</bean>
	<bean id="entityManagerFactorydl"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcedl" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<!--<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> -->
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="dlDB" />
	</bean>
	<bean id="entityManagerFactorytb"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcetb" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" />
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" 
					/> -->
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="tbDB" />
	</bean>
	<bean id="entityManagerFactorytb2"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcetb2" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="tbDB2" />
	</bean>
	<bean id="entityManagerFactorysb"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcesb" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="sbDB" />
	</bean>
	<bean id="entityManagerFactoryll"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcell" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="llDB" />
	</bean>
	<bean id="entityManagerFactoryxb"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcexb" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="xbDB" />
	</bean>
	<bean id="entityManagerFactoryxl"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourcexl" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" 
					/> <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="xlDB" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />


	<!-- -->
	<!-- TRANSACTIONS -->
	<!-- -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:annotation-driven transaction-manager="transactionManager15" />
	<tx:annotation-driven transaction-manager="transactionManagerdl" />
	<tx:annotation-driven transaction-manager="transactionManagertb" />
	<tx:annotation-driven transaction-manager="transactionManagertb2" />
	<tx:annotation-driven transaction-manager="transactionManagersb" />
	<tx:annotation-driven transaction-manager="transactionManagerll" />
	<tx:annotation-driven transaction-manager="transactionManagerxb" />
	<tx:annotation-driven transaction-manager="transactionManagerxl" />

	<aop:aspectj-autoproxy />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager15" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory15" />
		<property name="dataSource" ref="dataSource15" />
	</bean>
	<bean id="transactionManagerdl" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorydl" />
		<property name="dataSource" ref="dataSourcedl" />
	</bean>
	<bean id="transactionManagertb" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorytb" />
		<property name="dataSource" ref="dataSourcetb" />
	</bean>
	<bean id="transactionManagertb2" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorytb2" />
		<property name="dataSource" ref="dataSourcetb2" />
	</bean>
	<bean id="transactionManagersb" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactorysb" />
		<property name="dataSource" ref="dataSourcesb" />
	</bean>
	<bean id="transactionManagerll" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryll" />
		<property name="dataSource" ref="dataSourcell" />
	</bean>
	<bean id="transactionManagerxb" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryxb" />
		<property name="dataSource" ref="dataSourcexb" />
	</bean>
	<bean id="transactionManagerxl" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryxl" />
		<property name="dataSource" ref="dataSourcexl" />
	</bean>


	<!-- -->
	<!-- DAO -->
	<!-- -->

	<!-- 15 -->
	<bean id="bl15Dao" class="com.tbea.datatransfer.model.dao.yszk15.bl.BL15DaoImpl" />

	<!-- inner -->
	<bean id="xjlrbDao"
		class="com.tbea.datatransfer.model.dao.inner.xjlrb.XJLRBDaoImpl" />
	<bean id="ydzbfdwDao"
		class="com.tbea.datatransfer.model.dao.inner.ydzbfdw.YDZBFDWDaoImpl" />
	<bean id="zbhzDao" class="com.tbea.datatransfer.model.dao.inner.zbhz.ZBHZDaoImpl" />
	<bean id="blhtDao" class="com.tbea.datatransfer.model.dao.inner.blht.BLHTDaoImpl" />
	<bean id="cqkDao" class="com.tbea.datatransfer.model.dao.inner.cqk.CQKDaoImpl" />
	<bean id="hkjhjgbDao"
		class="com.tbea.datatransfer.model.dao.inner.hkjhjgb.HKJHJGBDaoImpl" />
	<bean id="ndtbbzjqkDao"
		class="com.tbea.datatransfer.model.dao.inner.ndtbbzjqk.NDTBBZJQKDaoImpl" />
	<bean id="rhkxxDao"
		class="com.tbea.datatransfer.model.dao.inner.rhkxx.RHKXXDaoImpl" />
	<bean id="ydhkjhzxqkDao"
		class="com.tbea.datatransfer.model.dao.inner.ydhkjhzxqk.YDHKJHZXQKDaoImpl" />
	<bean id="yqkqsbhbDao"
		class="com.tbea.datatransfer.model.dao.inner.yqkqsbhb.YQKQSBHBDaoImpl" />
	<bean id="yqysysfxDao"
		class="com.tbea.datatransfer.model.dao.inner.yqysysfx.YQYSYSFXDaoImpl" />
	<bean id="yszkjgqkbDao"
		class="com.tbea.datatransfer.model.dao.inner.yszkjgqkb.YSZKJGQKBDaoImpl" />
	<bean id="ztyszkfxbDao"
		class="com.tbea.datatransfer.model.dao.inner.ztyszkfxb.ZTYSZKFXBDaoImpl" />

	<!-- local -->
	<bean id="htxxLocalDao"
		class="com.tbea.datatransfer.model.dao.local.htxx.HTXXLocalDaoImpl" />
	<bean id="blLocalDao" class="com.tbea.datatransfer.model.dao.local.bl.BLLocalDaoImpl" />
	<bean id="yszktzLocalDao"
		class="com.tbea.datatransfer.model.dao.local.yszktz.YSZKTZLocalDaoImpl" />
	<bean id="mrhkLocalDao"
		class="com.tbea.datatransfer.model.dao.local.mrhk.MRHKLocalDaoImpl" />
	<bean id="ztyszkfxbLocalDao"
		class="com.tbea.datatransfer.model.dao.local.ztyszkfxb.ZTYSZKFXBLocalDaoImpl" />
	<bean id="ydhkjhjgbLocalDao"
		class="com.tbea.datatransfer.model.dao.local.ydhkjhjgb.YDHKJHJGBLocalDaoImpl" />
	<bean id="ydsjhkqkLocalDao"
		class="com.tbea.datatransfer.model.dao.local.ydsjhkqk.YDSJHKQKLocalDaoImpl" />
	<bean id="mrhkhzLocalDao"
		class="com.tbea.datatransfer.model.dao.local.mrhkhz.MRHKHZLocalDaoImpl" />
	<bean id="yszkpzghLocalDao"
		class="com.tbea.datatransfer.model.dao.local.yszkpzgh.YSZKPZGHLocalDaoImpl" />
	<bean id="tbbzjxxLocalDao"
		class="com.tbea.datatransfer.model.dao.local.tbbzjxx.TBBZJXXLocalDaoImpl" />
	<bean id="xmLocalDao" class="com.tbea.datatransfer.model.dao.local.xm.XMLocalDaoImpl" />
	<bean id="xltbLocalDao"
		class="com.tbea.datatransfer.model.dao.local.xltb.XLTBLocalDaoImpl" />
	<bean id="xlwgLocalDao"
		class="com.tbea.datatransfer.model.dao.local.xlwg.XLWGLocalDaoImpl" />
	<bean id="fkfsbyqfdwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.byq.FKFSBYQFDWLocalDaoImpl" />
	<bean id="fkfsbyqgwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.byq.FKFSBYQGWLocalDaoImpl" />
	<bean id="fkfsbyqnwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.byq.FKFSBYQNWLocalDaoImpl" />
	<bean id="fkfsxlfdwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.xl.FKFSXLFDWLocalDaoImpl" />
	<bean id="fkfsxlgwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.xl.FKFSXLGWLocalDaoImpl" />
	<bean id="fkfsxlnwLocalDao"
		class="com.tbea.datatransfer.model.dao.local.fkfs.xl.FKFSXLNWLocalDaoImpl" />
	<bean id="byqtbLocalDao"
		class="com.tbea.datatransfer.model.dao.local.byqtb.BYQTBLocalDaoImpl" />
	<bean id="byqzxLocalDao"
		class="com.tbea.datatransfer.model.dao.local.byqzx.BYQZXLocalDaoImpl" />
	<bean id="byqwgLocalDao"
		class="com.tbea.datatransfer.model.dao.local.byqwg.BYQWGLocalDaoImpl" />

	<!-- dl -->
	<bean id="htxxDLDao" class="com.tbea.datatransfer.model.dao.zjxl.htxx.HTXXDLDaoImpl" />
	<bean id="blDLDao" class="com.tbea.datatransfer.model.dao.zjxl.bl.BLDLDaoImpl" />
	<bean id="yszktzDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszktz.YSZKTZDLDaoImpl" />
	<bean id="mrhkDLDao" class="com.tbea.datatransfer.model.dao.zjxl.mrhk.MRHKDLDaoImpl" />
	<bean id="ztyszkfxbDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ztyszkfxb.ZTYSZKFXBDLDaoImpl" />
	<bean id="ydhkjhjgbDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydhkjhjgb.YDHKJHJGBDLDaoImpl" />
	<bean id="ydsjhkqkDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydsjhkqk.YDSJHKQKDLDaoImpl" />
	<bean id="mrhkhzDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.mrhkhz.MRHKHZDLDaoImpl" />
	<bean id="tbbzjxxDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.tbbzjxx.TBBZJXXDLDaoImpl" />
	<bean id="xmDLDao" class="com.tbea.datatransfer.model.dao.zjxl.xm.XMDLDaoImpl" />
	<bean id="xltbDLDao" class="com.tbea.datatransfer.model.dao.zjxl.xltb.XLTBDLDaoImpl" />
	<bean id="xlwgDLDao" class="com.tbea.datatransfer.model.dao.zjxl.xlwg.XLWGDLDaoImpl" />
	<bean id="fkfsxlfdwDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLFDWDLDaoImpl" />
	<bean id="fkfsxlgwDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLGWDLDaoImpl" />
	<bean id="fkfsxlnwDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLNWDLDaoImpl" />
	<bean id="yszkpzghDLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszkpzgh.YSZKPZGHDLDaoImpl" />

	<!-- tb -->
	<bean id="htxxTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.htxx.HTXXTBDaoImpl" />
	<bean id="blTBDao" class="com.tbea.datatransfer.model.dao.zjbyq.bl.BLTBDaoImpl" />
	<bean id="yszktzTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszktz.YSZKTZTBDaoImpl" />
	<bean id="mrhkTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhk.MRHKTBDaoImpl" />
	<bean id="ztyszkfxbTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ztyszkfxb.ZTYSZKFXBTBDaoImpl" />
	<bean id="ydhkjhjgbTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydhkjhjgb.YDHKJHJGBTBDaoImpl" />
	<bean id="ydsjhkqkTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydsjhkqk.YDSJHKQKTBDaoImpl" />
	<bean id="mrhkhzTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhkhz.MRHKHZTBDaoImpl" />
	<bean id="yszkpzghTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszkpzgh.YSZKPZGHTBDaoImpl" />
	<bean id="tbbzjxxTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.tbbzjxx.TBBZJXXTBDaoImpl" />
	<bean id="fkfsbyqfdwTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQFDWTBDaoImpl" />
	<bean id="fkfsbyqgwTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQGWTBDaoImpl" />
	<bean id="fkfsbyqnwTBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQNWTBDaoImpl" />

	<!-- sb -->
	<bean id="htxxSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.htxx.HTXXSBDaoImpl" />
	<bean id="blSBDao" class="com.tbea.datatransfer.model.dao.zjbyq.bl.BLSBDaoImpl" />
	<bean id="yszktzSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszktz.YSZKTZSBDaoImpl" />
	<bean id="mrhkSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhk.MRHKSBDaoImpl" />
	<bean id="ztyszkfxbSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ztyszkfxb.ZTYSZKFXBSBDaoImpl" />
	<bean id="ydhkjhjgbSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydhkjhjgb.YDHKJHJGBSBDaoImpl" />
	<bean id="ydsjhkqkSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydsjhkqk.YDSJHKQKSBDaoImpl" />
	<bean id="mrhkhzSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhkhz.MRHKHZSBDaoImpl" />
	<bean id="yszkpzghSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszkpzgh.YSZKPZGHSBDaoImpl" />
	<bean id="tbbzjxxSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.tbbzjxx.TBBZJXXSBDaoImpl" />
	<bean id="fkfsbyqfdwSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQFDWSBDaoImpl" />
	<bean id="fkfsbyqgwSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQGWSBDaoImpl" />
	<bean id="fkfsbyqnwSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQNWSBDaoImpl" />
	<bean id="byqtbSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqtb.BYQTBSBDaoImpl" />
	<bean id="byqzxSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqzx.BYQZXSBDaoImpl" />
	<bean id="byqwgSBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqwg.BYQWGSBDaoImpl" />

	<!-- ll -->
	<bean id="htxxLLDao" class="com.tbea.datatransfer.model.dao.zjxl.htxx.HTXXLLDaoImpl" />
	<bean id="blLLDao" class="com.tbea.datatransfer.model.dao.zjxl.bl.BLLLDaoImpl" />
	<bean id="yszktzLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszktz.YSZKTZLLDaoImpl" />
	<bean id="mrhkLLDao" class="com.tbea.datatransfer.model.dao.zjxl.mrhk.MRHKLLDaoImpl" />
	<bean id="ztyszkfxbLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ztyszkfxb.ZTYSZKFXBLLDaoImpl" />
	<bean id="ydhkjhjgbLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydhkjhjgb.YDHKJHJGBLLDaoImpl" />
	<bean id="ydsjhkqkLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydsjhkqk.YDSJHKQKLLDaoImpl" />
	<bean id="mrhkhzLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.mrhkhz.MRHKHZLLDaoImpl" />
	<bean id="tbbzjxxLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.tbbzjxx.TBBZJXXLLDaoImpl" />
	<bean id="xmLLDao" class="com.tbea.datatransfer.model.dao.zjxl.xm.XMLLDaoImpl" />
	<bean id="xltbLLDao" class="com.tbea.datatransfer.model.dao.zjxl.xltb.XLTBLLDaoImpl" />
	<bean id="xlwgLLDao" class="com.tbea.datatransfer.model.dao.zjxl.xlwg.XLWGLLDaoImpl" />
	<bean id="fkfsxlfdwLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLFDWLLDaoImpl" />
	<bean id="fkfsxlgwLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLGWLLDaoImpl" />
	<bean id="fkfsxlnwLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLNWLLDaoImpl" />
	<bean id="yszkpzghLLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszkpzgh.YSZKPZGHLLDaoImpl" />

	<!-- xb -->
	<bean id="htxxXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.htxx.HTXXXBDaoImpl" />
	<bean id="blXBDao" class="com.tbea.datatransfer.model.dao.zjbyq.bl.BLXBDaoImpl" />
	<bean id="yszktzXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszktz.YSZKTZXBDaoImpl" />
	<bean id="mrhkXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhk.MRHKXBDaoImpl" />
	<bean id="ztyszkfxbXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ztyszkfxb.ZTYSZKFXBXBDaoImpl" />
	<bean id="ydhkjhjgbXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydhkjhjgb.YDHKJHJGBXBDaoImpl" />
	<bean id="ydsjhkqkXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.ydsjhkqk.YDSJHKQKXBDaoImpl" />
	<bean id="mrhkhzXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.mrhkhz.MRHKHZXBDaoImpl" />
	<bean id="yszkpzghXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.yszkpzgh.YSZKPZGHXBDaoImpl" />
	<bean id="tbbzjxxXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.tbbzjxx.TBBZJXXXBDaoImpl" />
	<bean id="fkfsbyqfdwXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQFDWXBDaoImpl" />
	<bean id="fkfsbyqgwXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQGWXBDaoImpl" />
	<bean id="fkfsbyqnwXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.fkfs.FKFSBYQNWXBDaoImpl" />
	<bean id="byqtbXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqtb.BYQTBXBDaoImpl" />
	<bean id="byqzxXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqzx.BYQZXXBDaoImpl" />
	<bean id="byqwgXBDao"
		class="com.tbea.datatransfer.model.dao.zjbyq.byqwg.BYQWGXBDaoImpl" />


	<!-- xl -->
	<bean id="htxxXLDao" class="com.tbea.datatransfer.model.dao.zjxl.htxx.HTXXXLDaoImpl" />
	<bean id="blXLDao" class="com.tbea.datatransfer.model.dao.zjxl.bl.BLXLDaoImpl" />
	<bean id="yszktzXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszktz.YSZKTZXLDaoImpl" />
	<bean id="mrhkXLDao" class="com.tbea.datatransfer.model.dao.zjxl.mrhk.MRHKXLDaoImpl" />
	<bean id="ztyszkfxbXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ztyszkfxb.ZTYSZKFXBXLDaoImpl" />
	<bean id="ydhkjhjgbXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydhkjhjgb.YDHKJHJGBXLDaoImpl" />
	<bean id="ydsjhkqkXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.ydsjhkqk.YDSJHKQKXLDaoImpl" />
	<bean id="mrhkhzXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.mrhkhz.MRHKHZXLDaoImpl" />
	<bean id="tbbzjxxXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.tbbzjxx.TBBZJXXXLDaoImpl" />
	<bean id="xmXLDao" class="com.tbea.datatransfer.model.dao.zjxl.xm.XMXLDaoImpl" />
	<bean id="xltbXLDao" class="com.tbea.datatransfer.model.dao.zjxl.xltb.XLTBXLDaoImpl" />
	<bean id="xlwgXLDao" class="com.tbea.datatransfer.model.dao.zjxl.xlwg.XLWGXLDaoImpl" />
	<bean id="fkfsxlfdwXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLFDWXLDaoImpl" />
	<bean id="fkfsxlgwXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLGWXLDaoImpl" />
	<bean id="fkfsxlnwXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.fkfs.FKFSXLNWXLDaoImpl" />
	<bean id="yszkpzghXLDao"
		class="com.tbea.datatransfer.model.dao.zjxl.yszkpzgh.YSZKPZGHXLDaoImpl" />

	<!-- UTILS -->
	<!-- -->
	<!-- -->
	<!-- HELPERS -->
	<!-- -->

	<!-- -->
	<!-- RESTLET -->
	<!-- -->

	<!-- -->
	<!-- BUSINESS -->
	<!-- -->

	<bean id="xjlrbService"
		class="com.tbea.datatransfer.service.inner.xjlrb.XJLRBServiceImpl"
		scope="prototype">
		<property name="xjlrbDao" ref="xjlrbDao" />
		<property name="bl15Dao" ref="bl15Dao" />
	</bean>
	<bean id="ydzbfdwService"
		class="com.tbea.datatransfer.service.inner.ydzbfdw.YDZBFDWServiceImpl"
		scope="prototype">
		<property name="ydzbfdwDao" ref="ydzbfdwDao" />
		<property name="bl15Dao" ref="bl15Dao" />
		<property name="qybhMap" ref="qybhMap" />
	</bean>
	<bean id="zbhzService"
		class="com.tbea.datatransfer.service.inner.zbhz.ZBHZServiceImpl"
		scope="prototype">
		<property name="zbhzDao" ref="zbhzDao" />
		<property name="bl15Dao" ref="bl15Dao" />
	</bean>
	<bean id="logService" class="com.tbea.datatransfer.service.log.LogServiceImpl"
		scope="prototype">
		<property name="ydzbfdwDao" ref="ydzbfdwDao" />
		<property name="bl15Dao" ref="bl15Dao" />
		<property name="qybhMap" ref="qybhMap" />
	</bean>
	<bean id="htxxTransferService"
		class="com.tbea.datatransfer.service.local.htxx.HTXXTransferServiceImpl"
		scope="prototype">
		<property name="htxxLocalDao" ref="htxxLocalDao" />
		<property name="htxxDLDao" ref="htxxDLDao" />
		<property name="htxxLLDao" ref="htxxLLDao" />
		<property name="htxxTBDao" ref="htxxTBDao" />
		<property name="htxxSBDao" ref="htxxSBDao" />
		<property name="htxxXBDao" ref="htxxXBDao" />
		<property name="htxxXLDao" ref="htxxXLDao" />
	</bean>
	<bean id="blTransferService"
		class="com.tbea.datatransfer.service.local.bl.BLTransferServiceImpl"
		scope="prototype">
		<property name="blLocalDao" ref="blLocalDao" />
		<property name="blDLDao" ref="blDLDao" />
		<property name="blLLDao" ref="blLLDao" />
		<property name="blTBDao" ref="blTBDao" />
		<property name="blSBDao" ref="blSBDao" />
		<property name="blXBDao" ref="blXBDao" />
		<property name="blXLDao" ref="blXLDao" />
	</bean>
	<bean id="yszktzTransferService"
		class="com.tbea.datatransfer.service.local.yszktz.YSZKTZTransferServiceImpl"
		scope="prototype">
		<property name="yszktzLocalDao" ref="yszktzLocalDao" />
		<property name="yszktzDLDao" ref="yszktzDLDao" />
		<property name="yszktzLLDao" ref="yszktzLLDao" />
		<property name="yszktzTBDao" ref="yszktzTBDao" />
		<property name="yszktzSBDao" ref="yszktzSBDao" />
		<property name="yszktzXBDao" ref="yszktzXBDao" />
		<property name="yszktzXLDao" ref="yszktzXLDao" />
	</bean>
	<bean id="mrhkTransferService"
		class="com.tbea.datatransfer.service.local.mrhk.MRHKTransferServiceImpl"
		scope="prototype">
		<property name="mrhkLocalDao" ref="mrhkLocalDao" />
		<property name="mrhkDLDao" ref="mrhkDLDao" />
		<property name="mrhkLLDao" ref="mrhkLLDao" />
		<property name="mrhkTBDao" ref="mrhkTBDao" />
		<property name="mrhkSBDao" ref="mrhkSBDao" />
		<property name="mrhkXBDao" ref="mrhkXBDao" />
		<property name="mrhkXLDao" ref="mrhkXLDao" />
	</bean>
	<bean id="ztyszkfxbTransferService"
		class="com.tbea.datatransfer.service.local.ztyszkfxb.ZTYSZKFXBTransferServiceImpl"
		scope="prototype">
		<property name="ztyszkfxbLocalDao" ref="ztyszkfxbLocalDao" />
		<property name="ztyszkfxbDLDao" ref="ztyszkfxbDLDao" />
		<property name="ztyszkfxbLLDao" ref="ztyszkfxbLLDao" />
		<property name="ztyszkfxbTBDao" ref="ztyszkfxbTBDao" />
		<property name="ztyszkfxbSBDao" ref="ztyszkfxbSBDao" />
		<property name="ztyszkfxbXBDao" ref="ztyszkfxbXBDao" />
		<property name="ztyszkfxbXLDao" ref="ztyszkfxbXLDao" />
	</bean>
	<bean id="ydhkjhjgbTransferService"
		class="com.tbea.datatransfer.service.local.ydhkjhjgb.YDHKJHJGBTransferServiceImpl"
		scope="prototype">
		<property name="ydhkjhjgbLocalDao" ref="ydhkjhjgbLocalDao" />
		<property name="ydhkjhjgbDLDao" ref="ydhkjhjgbDLDao" />
		<property name="ydhkjhjgbLLDao" ref="ydhkjhjgbLLDao" />
		<property name="ydhkjhjgbTBDao" ref="ydhkjhjgbTBDao" />
		<property name="ydhkjhjgbSBDao" ref="ydhkjhjgbSBDao" />
		<property name="ydhkjhjgbXBDao" ref="ydhkjhjgbXBDao" />
		<property name="ydhkjhjgbXLDao" ref="ydhkjhjgbXLDao" />
	</bean>
	<bean id="ydsjhkqkTransferService"
		class="com.tbea.datatransfer.service.local.ydsjhkqk.YDSJHKQKTransferServiceImpl"
		scope="prototype">
		<property name="ydsjhkqkLocalDao" ref="ydsjhkqkLocalDao" />
		<property name="ydsjhkqkDLDao" ref="ydsjhkqkDLDao" />
		<property name="ydsjhkqkLLDao" ref="ydsjhkqkLLDao" />
		<property name="ydsjhkqkTBDao" ref="ydsjhkqkTBDao" />
		<property name="ydsjhkqkSBDao" ref="ydsjhkqkSBDao" />
		<property name="ydsjhkqkXBDao" ref="ydsjhkqkXBDao" />
		<property name="ydsjhkqkXLDao" ref="ydsjhkqkXLDao" />
	</bean>
	<bean id="mrhkhzTransferService"
		class="com.tbea.datatransfer.service.local.mrhkhz.MRHKHZTransferServiceImpl"
		scope="prototype">
		<property name="mrhkhzLocalDao" ref="mrhkhzLocalDao" />
		<property name="mrhkhzDLDao" ref="mrhkhzDLDao" />
		<property name="mrhkhzLLDao" ref="mrhkhzLLDao" />
		<property name="mrhkhzTBDao" ref="mrhkhzTBDao" />
		<property name="mrhkhzSBDao" ref="mrhkhzSBDao" />
		<property name="mrhkhzXBDao" ref="mrhkhzXBDao" />
		<property name="mrhkhzXLDao" ref="mrhkhzXLDao" />
	</bean>
	<bean id="yszkpzghTransferService"
		class="com.tbea.datatransfer.service.local.yszkpzgh.YSZKPZGHTransferServiceImpl"
		scope="prototype">
		<property name="yszkpzghLocalDao" ref="yszkpzghLocalDao" />
		<property name="yszkpzghTBDao" ref="yszkpzghTBDao" />
		<property name="yszkpzghSBDao" ref="yszkpzghSBDao" />
		<property name="yszkpzghXBDao" ref="yszkpzghXBDao" />
		<property name="yszkpzghDLDao" ref="yszkpzghDLDao" />
		<property name="yszkpzghLLDao" ref="yszkpzghLLDao" />
		<property name="yszkpzghXLDao" ref="yszkpzghXLDao" />
		<property name="sbXMGSMap" ref="sbXMGSMap" />
	</bean>
	<bean id="tbbzjxxTransferService"
		class="com.tbea.datatransfer.service.local.tbbzjxx.TBBZJXXTransferServiceImpl"
		scope="prototype">
		<property name="tbbzjxxLocalDao" ref="tbbzjxxLocalDao" />
		<property name="tbbzjxxDLDao" ref="tbbzjxxDLDao" />
		<property name="tbbzjxxLLDao" ref="tbbzjxxLLDao" />
		<property name="tbbzjxxTBDao" ref="tbbzjxxTBDao" />
		<property name="tbbzjxxSBDao" ref="tbbzjxxSBDao" />
		<property name="tbbzjxxXBDao" ref="tbbzjxxXBDao" />
		<property name="tbbzjxxXLDao" ref="tbbzjxxXLDao" />
	</bean>
	<bean id="xmTransferService"
		class="com.tbea.datatransfer.service.local.xm.XMTransferServiceImpl"
		scope="prototype">
		<property name="xmLocalDao" ref="xmLocalDao" />
		<property name="xmDLDao" ref="xmDLDao" />
		<property name="xmLLDao" ref="xmLLDao" />
		<property name="xmXLDao" ref="xmXLDao" />
	</bean>
	<bean id="xltbTransferService"
		class="com.tbea.datatransfer.service.local.xltb.XLTBTransferServiceImpl"
		scope="prototype">
		<property name="xltbLocalDao" ref="xltbLocalDao" />
		<property name="xltbDLDao" ref="xltbDLDao" />
		<property name="xltbLLDao" ref="xltbLLDao" />
		<property name="xltbXLDao" ref="xltbXLDao" />
	</bean>
	<bean id="xlwgTransferService"
		class="com.tbea.datatransfer.service.local.xlwg.XLWGTransferServiceImpl"
		scope="prototype">
		<property name="xlwgLocalDao" ref="xlwgLocalDao" />
		<property name="xlwgDLDao" ref="xlwgDLDao" />
		<property name="xlwgLLDao" ref="xlwgLLDao" />
		<property name="xlwgXLDao" ref="xlwgXLDao" />
	</bean>
	<bean id="fkfsbyqfdwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.byq.FKFSBYQFDWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsbyqfdwLocalDao" ref="fkfsbyqfdwLocalDao" />
		<property name="fkfsbyqfdwTBDao" ref="fkfsbyqfdwTBDao" />
		<property name="fkfsbyqfdwSBDao" ref="fkfsbyqfdwSBDao" />
		<property name="fkfsbyqfdwXBDao" ref="fkfsbyqfdwXBDao" />
	</bean>
	<bean id="fkfsbyqgwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.byq.FKFSBYQGWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsbyqgwLocalDao" ref="fkfsbyqgwLocalDao" />
		<property name="fkfsbyqgwTBDao" ref="fkfsbyqgwTBDao" />
		<property name="fkfsbyqgwSBDao" ref="fkfsbyqgwSBDao" />
		<property name="fkfsbyqgwXBDao" ref="fkfsbyqgwXBDao" />
	</bean>
	<bean id="fkfsbyqnwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.byq.FKFSBYQNWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsbyqnwLocalDao" ref="fkfsbyqnwLocalDao" />
		<property name="fkfsbyqnwTBDao" ref="fkfsbyqnwTBDao" />
		<property name="fkfsbyqnwSBDao" ref="fkfsbyqnwSBDao" />
		<property name="fkfsbyqnwXBDao" ref="fkfsbyqnwXBDao" />
	</bean>
	<bean id="fkfsxlfdwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.xl.FKFSXLFDWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsxlfdwLocalDao" ref="fkfsxlfdwLocalDao" />
		<property name="fkfsxlfdwDLDao" ref="fkfsxlfdwDLDao" />
		<property name="fkfsxlfdwLLDao" ref="fkfsxlfdwLLDao" />
		<property name="fkfsxlfdwXLDao" ref="fkfsxlfdwXLDao" />
	</bean>
	<bean id="fkfsxlgwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.xl.FKFSXLGWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsxlgwLocalDao" ref="fkfsxlgwLocalDao" />
		<property name="fkfsxlgwDLDao" ref="fkfsxlgwDLDao" />
		<property name="fkfsxlgwLLDao" ref="fkfsxlgwLLDao" />
		<property name="fkfsxlgwXLDao" ref="fkfsxlgwXLDao" />
	</bean>
	<bean id="fkfsxlnwTransferService"
		class="com.tbea.datatransfer.service.local.fkfs.xl.FKFSXLNWTransferServiceImpl"
		scope="prototype">
		<property name="fkfsxlnwLocalDao" ref="fkfsxlnwLocalDao" />
		<property name="fkfsxlnwDLDao" ref="fkfsxlnwDLDao" />
		<property name="fkfsxlnwLLDao" ref="fkfsxlnwLLDao" />
		<property name="fkfsxlnwXLDao" ref="fkfsxlnwXLDao" />
	</bean>
	<bean id="blhtService"
		class="com.tbea.datatransfer.service.inner.blht.BLHTServiceImpl"
		scope="prototype">
		<property name="blhtDao" ref="blhtDao" />
		<property name="blLocalDao" ref="blLocalDao" />
	</bean>
	<bean id="cqkService" class="com.tbea.datatransfer.service.inner.cqk.CQKServiceImpl"
		scope="prototype">
		<property name="cqkDao" ref="cqkDao" />
		<property name="yszktzLocalDao" ref="yszktzLocalDao" />
	</bean>
	<bean id="hkjhjgbService"
		class="com.tbea.datatransfer.service.inner.hkjhjgb.HKJHJGBServiceImpl"
		scope="prototype">
		<property name="hkjhjgbDao" ref="hkjhjgbDao" />
		<property name="ydhkjhjgbLocalDao" ref="ydhkjhjgbLocalDao" />
	</bean>
	<bean id="ndtbbzjqkService"
		class="com.tbea.datatransfer.service.inner.ndtbbzjqk.NDTBBZJQKServiceImpl"
		scope="prototype">
		<property name="ndtbbzjqkDao" ref="ndtbbzjqkDao" />
		<property name="tbbzjxxLocalDao" ref="tbbzjxxLocalDao" />
	</bean>
	<bean id="rhkxxService"
		class="com.tbea.datatransfer.service.inner.rhkxx.RHKXXServiceImpl"
		scope="prototype">
		<property name="rhkxxDao" ref="rhkxxDao" />
		<property name="mrhkhzLocalDao" ref="mrhkhzLocalDao" />
		<property name="ydhkjhjgbLocalDao" ref="ydhkjhjgbLocalDao" />
	</bean>
	<bean id="ydhkjhzxqkService"
		class="com.tbea.datatransfer.service.inner.ydhkjhzxqk.YDHKJHZXQKServiceImpl"
		scope="prototype">
		<property name="ydhkjhzxqkDao" ref="ydhkjhzxqkDao" />
		<property name="ydhkjhjgbLocalDao" ref="ydhkjhjgbLocalDao" />
		<property name="ydsjhkqkLocalDao" ref="ydsjhkqkLocalDao" />
	</bean>
	<bean id="yqkqsbhbService"
		class="com.tbea.datatransfer.service.inner.yqkqsbhb.YQKQSBHBServiceImpl"
		scope="prototype">
		<property name="yqkqsbhbDao" ref="yqkqsbhbDao" />
		<property name="yszktzLocalDao" ref="yszktzLocalDao" />
	</bean>
	<bean id="yszkjgqkbService"
		class="com.tbea.datatransfer.service.inner.yszkjgqkb.YSZKJGQKBServiceImpl"
		scope="prototype">
		<property name="yszkjgqkbDao" ref="yszkjgqkbDao" />
		<property name="yszktzLocalDao" ref="yszktzLocalDao" />
	</bean>
	<bean id="ztyszkfxbService"
		class="com.tbea.datatransfer.service.inner.ztyszkfxb.ZTYSZKFXBServiceImpl"
		scope="prototype">
		<property name="ztyszkfxbDao" ref="ztyszkfxbDao" />
		<property name="ztyszkfxbLocalDao" ref="ztyszkfxbLocalDao" />
	</bean>
	<bean id="byqtbTransferService"
		class="com.tbea.datatransfer.service.local.byqtb.BYQTBTransferServiceImpl"
		scope="prototype">
		<property name="byqtbLocalDao" ref="byqtbLocalDao" />
		<property name="byqtbSBDao" ref="byqtbSBDao" />
		<property name="byqtbXBDao" ref="byqtbXBDao" />
	</bean>
	<bean id="byqzxTransferService"
		class="com.tbea.datatransfer.service.local.byqzx.BYQZXTransferServiceImpl"
		scope="prototype">
		<property name="byqzxLocalDao" ref="byqzxLocalDao" />
		<property name="byqzxSBDao" ref="byqzxSBDao" />
		<property name="byqzxXBDao" ref="byqzxXBDao" />
	</bean>
	<bean id="byqwgTransferService"
		class="com.tbea.datatransfer.service.local.byqwg.BYQWGTransferServiceImpl"
		scope="prototype">
		<property name="byqwgLocalDao" ref="byqwgLocalDao" />
		<property name="byqwgSBDao" ref="byqwgSBDao" />
		<property name="byqwgXBDao" ref="byqwgXBDao" />
	</bean>
	<!-- -->
	<!-- CLIENTS -->
	<!-- -->


	<!-- -->
	<!-- SPRING SECURITY -->
	<!-- -->

	<!-- -->
	<!-- SPRING SCHEDULE -->
	<!-- -->


	<task:scheduled-tasks scheduler="myScheduler">
		<!-- <task:scheduled ref="reminderMailService" method="sendReminderMail" 
			fixed-rate="5000"/> -->
		<task:scheduled ref="xjlrbService" method="importXJLRB"
			cron="0 0 4 * * *" />
		<task:scheduled ref="ydzbfdwService" method="importYDZBFDW"
			cron="0 20 4 * * *" />
		<task:scheduled ref="zbhzService" method="importZBHZ"
			cron="0 40 4 * * *" />

		<task:scheduled ref="htxxTransferService" method="transferHTXX"
			cron="0 20 13 * * *" />
		<task:scheduled ref="blTransferService" method="transferBL"
			cron="0 25 13 * * *" />
		<task:scheduled ref="yszktzTransferService" method="transferYSZKTZ"
			cron="0 27 13 * * *" />
		<task:scheduled ref="mrhkTransferService" method="transferMRHK"
			cron="0 46 13 * * *" />
		<task:scheduled ref="ztyszkfxbTransferService" method="transferZTYSZKFXB"
			cron="0 48 13 * * *" />
		<task:scheduled ref="ydhkjhjgbTransferService" method="transferYDHKJHJGB"
			cron="0 50 13 * * *" />
		<task:scheduled ref="ydsjhkqkTransferService" method="transferYDSJHKQK"
			cron="0 52 13 * * *" />
		<task:scheduled ref="mrhkhzTransferService" method="transferMRHKHZ"
			cron="0 54 13 * * *" />
		<task:scheduled ref="yszkpzghTransferService" method="transferYSZKPZGH"
			cron="0 56 13 * * *" />
		<task:scheduled ref="tbbzjxxTransferService" method="transferTBBZJXX"
			cron="0 58 13 * * *" />
		<task:scheduled ref="xmTransferService" method="transferXM"
			cron="0 0 14 * * *" />
		<task:scheduled ref="xltbTransferService" method="transferXLTB"
			cron="0 2 14 * * *" />
		<task:scheduled ref="xlwgTransferService" method="transferXLWG"
			cron="0 4 14 * * *" />
		<task:scheduled ref="fkfsbyqfdwTransferService" method="transferFKFSBYQFDW"
			cron="0 6 14 * * *" />
		<task:scheduled ref="fkfsbyqgwTransferService" method="transferFKFSBYQGW"
			cron="0 8 14 * * *" />
		<task:scheduled ref="fkfsbyqnwTransferService" method="transferFKFSBYQNW"
			cron="0 10 14 * * *" />
		<task:scheduled ref="fkfsxlfdwTransferService" method="transferFKFSXLFDW"
			cron="0 12 14 * * *" />
		<task:scheduled ref="fkfsxlgwTransferService" method="transferFKFSXLGW"
			cron="0 14 14 * * *" />
		<task:scheduled ref="fkfsxlnwTransferService" method="transferFKFSXLNW"
			cron="0 16 14 * * *" />
		<task:scheduled ref="byqtbTransferService" method="transferBYQTB"
			cron="0 18 14 * * *" />
		<task:scheduled ref="byqzxTransferService" method="transferBYQZX"
			cron="0 20 14 * * *" />
		<task:scheduled ref="byqwgTransferService" method="transferBYQWG"
			cron="0 22 14 * * *" />
		<task:scheduled ref="blhtService" method="importBLHT"
			cron="0 24 14 * * *" />
		<task:scheduled ref="cqkService" method="importCQK"
			cron="0 26 14 * * *" />
		<task:scheduled ref="hkjhjgbService" method="importHKJHJGB"
			cron="0 28 14 * * *" />
		<task:scheduled ref="ndtbbzjqkService" method="importNDTBBZJQK"
			cron="0 30 14 * * *" />
		<task:scheduled ref="rhkxxService" method="importRHKXX"
			cron="0 32 14 * * *" />
		<task:scheduled ref="ydhkjhzxqkService" method="importYDHKJHZXQK"
			cron="0 34 14 * * *" />
		<task:scheduled ref="yqkqsbhbService" method="importYQKQSBHB"
			cron="0 36 14 * * *" />
		<task:scheduled ref="yszkjgqkbService" method="importYSZKJGQKB"
			cron="0 38 14 * * *" />
		<task:scheduled ref="ztyszkfxbService" method="importZTYSZKFXB"
			cron="0 40 14 * * *" />

	</task:scheduled-tasks>

	<task:scheduler id="myScheduler" pool-size="10" />

</beans>
