html, body{
    font-family: "Microsoft YaHei";
}

.nav-area{
    background:#f3f3f3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:solid 1px darkgray;
    height: 28px;
    padding-top: 3px;
}

.nav-area a:hover, .nav-area a:focus{
    text-decoration: none;
}

.search-area{
    width:100%;
    background:white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
}

.option-area .bootstrap-select{
    margin : 3px 5px 3px 5px;
}

.option-area .btn-search{
    margin : 3px 0px 3px 0px;
}

.btn-custom-sz {
    width:105px;
    /*padding: 0 10px;*/
    font-size: 12px;
}

.btn{
    border-radius: 0px;
}

.bootstrap-select .dropdown-menu{
    border : none !important;
}

.search-area .search-item-lov{
    width:220px;
    float:left;
}
.search-area .search-item-lov button{
    height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.option-area .search-item-period{
    width:220px;
    margin : 3px 0px 3px 0px;
    float:left;
}

.option-area .search-item-period > input{
   height:28px;
}

.option-area .search-item-date {
    width:220px;
    margin : 3px 0px 3px 0px;
    float:left;
}

.option-area .search-item-date > input{
    height:28px;
}

.option-area .search-item-input > input{
    height:28px;
    width:220px;
    padding-left: 10px;
}

.option-area .search-item-input{
    margin : 3px 0px 3px 0px;
}

.option-area .search-label{
    margin : 3px 0px 3px 0px;
    height:28px;
    line-height: 28px;
    text-align: left;
    float:left;
    width:150px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.option-area table{
    border:0;
    cellspacing:0;
    cellpadding:0;
    width:100%;
}

.option-area table .th1, .option-area table .th3{
    width : 15%;
}

.option-area table .th2, .option-area table .th4{
    width : 25%;
}
.option-area table .th5{
    width : 20%;
}

.option-area .cux-btn-group-fun{
    margin : 12px 0px 3px 0px;
}

.opt-btn{
    height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.option-area .btn-export{
    margin-right:20px;
}

.option-area .btn-collect{
    margin-right:20px;
}

.option-area .btn-search{
    margin-right:14px;
}

.well{
    padding-top:8px;
    padding-bottom:5px;
}

.search-label-warning{
    color:red;
    font-size:8px;
    padding-left:5px;
    font-style:normal;
}