alter table zl_wbyclzlwt add shsj datetime
alter table zl_nbyclzlwt add shsj datetime
alter table cpzlqk_zltjjg add xgsj datetime
alter table cpzlqk_zltjjg add shsj datetime
alter table cpzlqk_bhgwtmx_byq add xgsj datetime
alter table cpzlqk_bhgwtmx_byq add shsj datetime
alter table cpzlqk_bhgwtmx_xl add xgsj datetime
alter table cpzlqk_bhgwtmx_xl add shsj datetime
alter table cpzlqk_bhgwtmx_pd add xgsj datetime
alter table cpzlqk_bhgwtmx_pd add shsj datetime