<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    	http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    	http://www.springframework.org/schema/aop 
    	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">





	<!-- -->
	<!-- PROPERTIES -->
	<!-- -->

	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> <list> <value>classpath:../applicationContext.properties</value> 
		</list> </property> </bean> -->

	<!-- -->
	<!-- INCLUDES -->
	<!-- -->
	<!-- -->
	<!-- PERFORMANCE -->
	<!-- -->

	<!-- -->
	<!-- CACHING -->
	<!-- -->

	<!-- -->
	<!-- DATABASE -->
	<!-- -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/master_data_db" />
	</bean>

	<bean id="dataSource_psn" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/master_data_psn_db" />
	</bean>

	<bean id="dataSource_psn_jt" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/master_data_psn_jt_db" />
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="localDB" />
	</bean>
	
	<bean id="entityManagerFactory_psn"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource_psn" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="localDB_psn" />
	</bean>

	<bean id="entityManagerFactory_psn_jt"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource_psn_jt" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
					<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" 
					/> -->
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/> 
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="persistenceUnitName" value="localDB_psn_jt" />
	</bean>
	
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<!-- -->
	<!-- TRANSACTIONS -->
	<!-- -->
	<tx:annotation-driven transaction-manager="transactionManager" />


	<aop:aspectj-autoproxy />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager_psn" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory_psn" />
		<property name="dataSource" ref="dataSource_psn" />
	</bean>

	<bean id="transactionManager_psn_jt" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory_psn_jt" />
		<property name="dataSource" ref="dataSource_psn_jt" />
	</bean>
	
	

	<context:component-scan base-package="com.tbea.ic.carrier.model" />
	<context:component-scan base-package="com.tbea.ic.carrier.service" />
</beans>
