.container-fluid{
    padding:0px 0px 0px 0px;
}

.row-fluid{
    padding:0px 0px 0px 0px;
}

.column{
    padding:0px;
}

html{
	overflow-y: hidden;
    overflow-x: auto;
   	min-width: 1000px;
 	width: expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}

html, body, .container-fluid{
    height:100%;
    font-family: "Microsoft YaHei UI";
}

body{
 	visibility:hidden;
} 


.nav-left{
    background:rgba(0,81,139,0.85);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8005188,endColorstr=#D8005188);    /*IE8支持*/
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color:white;
}

.nav-other{
	width:48px;
    height:48px;
	background:url("img/other_n.png");
	cursor:pointer;
	margin-left:21px;
}

.nav-other-clicked{
	width:48px;
    height:48px;
	background:url("img/other_h.png");
	cursor:pointer;
	margin-left:20px;
}

.nav-other-clicked:hover{
	background:url("img/other_n.png");
}

.nav-other:hover{
	background:url("img/other_h.png");
}


.content-up{

}

.content-down{

}

.content-right{

}

.navbar{
    margin-bottom:0px;
    height: 65px;
    padding: 8px 10px 0px 10px;
}
.navbar-collapse{
    margin-top:5px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    float:right;
    border-color: transparent;
}

.nav .dropdown > a{
    float:right;
    border:1px solid transparent;
    border-bottom: 0px;
}

.navbar-brand img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.navbar-brand{
    padding: 0px 10px 0px 10px;
}

.navbar-title{
    -moz-user-select:none;/*鐏嫄*/
    -webkit-user-select:none;/*webkit娴忚鍣�*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*鏃╂湡娴忚鍣�*/
    user-select:none;
    cursor:default;
    margin-top: 12px;
}

.navbar-title>span{
    color:white;
}

.nav-hide{
	display:none;
}

.navbar {
    margin-bottom: 0px;
    background: rgb(0,81,139);
    border-color: rgb(0,81,139);
    border-radius: 0px;
}

.search-btn{
    float:right;
    height:32px;
    width:32px;
    background-image:url("img/search-normal.png");
    background-size:cover;
    padding: 0px;
    margin-left:5px;
    margin-top: 2px;
    cursor:pointer;
}

.search-btn:hover{
    background-image:url("img/search-press.png");
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.person > a{
	background: rgb(0,81,139);
    border: none;
    color: white;
    padding: 12px 15px 12px 15px;
}

.person{
	margin-top: 2px;
}

.navbar .btn-group > .btn:first-child{
	border-radius: 0px;
}

.navbar-default .dropdown:hover{

}

.navbar-default .navbar-nav > .open > a{
	background:rgba(0,81,139,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8005188,endColorstr=#C8005188);    /*IE8支持*/
    color: white;
}

.navbar-default .navbar-nav > .open > a:focus{
    background:rgba(0,81,139,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8005188,endColorstr=#C8005188);    /*IE8支持*/
    color: white;
}

.search-area{
    margin-top: 7px;
}

.combo-select{
	border:0;
	width:220px;
	margin-bottom:0px;
}

#tabContent{
    width:100%;
    height:100%;
    overflow:hidden;
}

#tabContent-up{
    position:absolute;
    z-index: 100;
    width:100%;
    height:100%;
    overflow:hidden;
    left:0px;
    top:0px;
    background:transparent;
}

iframe{
    border:none;
}

#search-sel{
	display:none;
}
