html {
	overflow: hidden;
}

body {
	overflow: hidden;
	background-color: #214273;
	margin: 0;
	font-family: Microsoft Yahei;
}

body:before {
    background-color: #214273; 
}

.middlebg {
	width: 100%;
	height: 60%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 15%;
}

.top-title {
	position: absolute;
	z-index: 5;
	left: 10%;
	top: 8%;
	height: 7%;
}

.summary {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 50%;
	height: 50%;
	width: 35%;
}

.login-area {
	position: absolute;
	z-index: 10;
	right: 10%;
	top: 20%;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #E1E1DC;
	padding: 60px 40px 60px 40px;
	width:20%;
}

.login-area input{
	border: solid 1px lightgray;
	padding: 10px 10px 10px 15px;
    width: 100%;
}


fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
} 

.login-area .login-btn{
	padding: 10px 0px 10px 0px;
	width:100%;
	margin-top:20px;
}


label {
	display: block;
    margin-bottom: 7px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.errors {
	color: #CC0000;
	text-align: left;
}

input:not([type="submit"]) {
	margin-bottom:20px;
}

