.tab{
  float:left;
  border-bottom: 2px solid #11a9cc;
  width:100%;
  padding-left:0px;
  margin-bottom:0px;
}

.tab a{
  text-decoration:none;
  color:black;
}

.tab li{
  list-style:none
}

.tab-home{
  float:left;
  cursor : pointer;
}

.tab-normal{
  float:left;
  margin-left:1px;
  overflow:hidden;
}

.tab-normal>div>div{
  overflow:hidden;
  text-overflow:ellipsis;
}

.tab-home, .tab-normal{
  border:1px solid transparent;
  border-bottom: 0px ;
}

.tab-home, .tab-normal, .tab-more a{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tab-normal>div{
  padding:7px 3px 8px 15px;
  overflow:hidden;
  font-size:14px;
}

.tab-home, .tab-normal{
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 0px;
}

.tab-more>a{
  border: 1px solid #fff;
  border-bottom: 0px;
}


.open>a{
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 0px;
}

.tab-normal .active:hover{
  background-color: #11a9cc;
}

.tab-more>a{
  float:right;
  border:1px solid transparent;
  border-bottom: 0px;
}

.tab-home>div{
  font-size:30px;
  padding:2px 10px 2px 10px
}

.tab-more>a{
  font-size:20px;
  padding:2px 15px 2px 15px
} 

.tab .active{
  border: 1px solid #11a9cc;
  border-bottom: 0px;
  background-color: #11a9cc;
  color:white
}

.tab .active:hover{
  border: 1px solid #11a9cc;
  border-bottom: 0px;
  background-color: #11a9cc;
  color:white
}


.tab-more{
  float:right;
  cursor:pointer;
}

.tab-more .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.tab-more li{
  cursor:pointer;
}

.tab-more, .tab-normal div, .tab-home{
  -moz-user-select:none;/*閻忣偆瀚�*/
  -webkit-user-select:none;/*webkit濞村繗顫嶉崳锟�*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*閺冣晜婀″ù蹇氼潔閸ｏ拷*/
  user-select:none;
}

.tab-more-normal{

}

.tab .disable>a:focus{
  color:gray;
  background:none;
  cursor:default;
}

.tab .disable>a{
  color:gray;
  background:none;
  cursor:default;
}


.tab .disable>a:hover{
  background:none;
  color:gray;
  cursor:default;
}

.tab-close{
  margin-left:4px;
  width:14px;
}

.tab table{
  border:none;
  margin:0px;
  padding:0px;
  overflow:hidden;
}

.tab-close:before{
  content:"\00D7";
  visibility:hidden;
}

.tab-close:hover:before{
  cursor:default;
}

.tab-normal:hover .tab-close:before{
  content:"\00D7";
  visibility:visible;
}

.tab-normal div{
  float:left;
  cursor : pointer;
}

.tab-normal .tab-close{
  float:right;
}

.tab-more-menu-fixed > a, .tab-more-menu-extend > a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.tab-more ul{
  overflow:auto;
}
